
body{
	background: #f7565b;
}
.timer {
	text-align: center;
	color: white;
}
.timer #time{
	color: lightgreen;
	background: #5a5a5a;
	padding: 3px 20px;
	border: 10px solid #111;
	border-radius: 15px;
}
.clickArea{
	text-align: center;
}